.touchable-dock {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0; 

  z-index:9999;
}

.touchable-dock--handle {
  display: flex;
  justify-content: center;

  height: 50px;
}

.touchable-dock--handle::before {
  content: "";
  height: 10px;
  width: 50px;
  background-color: grey;
  border-radius: 5px;
  margin-top: 20px;
}
